node_modules
*containers_test
*mazoise
*.d
btc
RPN
PmergeMe

*.png
game_linux
sastantua_linux
game_macos
sastantua_macos
frame
blackjack
smallest



.vscode
*.gch

.DS_Store
Thumbs.db
*.out
*.swp
*.swo
*.swn
*.pdf
*.a
*.o
*.sum
*.json
*.class
*.tasty

advent_1*/*
!advent_1*/*.cpp
!advent_1*/*.py
!advent_1*/*.js
!advent_1*/*.c
!advent_1*/*.java

g
p
mlx
demo
out*
main
test
log1
log2
inter
union
philo
smurf
atomic
sample
*.dSYM
replace
convert
outfile
fractol
indexed
showkey
pthread
*tester
print_i
original
*.replace
push_swap
phonebook
random_ab
minishell
mutex_lock
checker_OS
*_shrubbery
*.*.replace
karenFilter
checker_Mac
checker_linux
showkey_macos
main6_loophook

*/obsolete/*

reload/**/includes/
reload/**/srcs/

game*/*.md
*venv*
*trip*

get_next_pine/get_next_line*/
get_next_line/test/texts/
get_next_line/texts/

puintf/*.sh

cses_ps/*
!cses_ps/*.cpp
!cses_ps/*.py
!cses_ps/*.md

mini*/client
mini*/server
mini*/*.o
mini*/*.a
